.container{
    background-color:lightblue;
    height: 400px;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
     /* flex-wrap: nowrap; */
       /* flex-wrap: wrap-reverse; */
       /* flex-flow: row wrap; */

    
   



}
.container .item{
    background-color: blue;
    font-size: 20px;
    width: 20%;
    color: white;
    padding:20px 20px;
    border: 2px solid black;
    border-left: 5px solid burlywood;
    margin: 5px;
}