div input{
    display: none;
}

div label{
    position: relative;
    width: 100px;
    height: 50px;
    display: block;
    border: 2px solid;
    border-radius: 30px;
    background-color: #fff;
    transition: background 300ms linear;

}
div label::before{
    position: absolute;
    content: "";
    top:25px;
    left:0px;

    width: 45px;
    height: 45px;
    border: 2px solid;
    border-radius: 50%;
    transform: translateY(-50%);
    background-color: aliceblue;
    transition: left 0.5s linear;
    
}
div input:checked+label{
    background-color: skyblue;
}
div input:checked+label::before{
    left:50px;
    transition: left 0.5s linear;
}
