 .Beagle-Blog{
    position: relative;
    left:8px;
    
} 
.Beagle-Blog p{
    width: 500px;
    word-break: break-word;

}
* a{
    color:black;

}






.images{
    position: relative;
    left:8px;
    
} 







.Trivia{
    position: relative;
    left:8px;
    
} 