*{
    font-family: 'Montserrat',sans-serif;
    margin: 0px;
    padding: 0px;
    
}

.nav-bar{
   
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:100px;
    background-color: black;
    color: white;
    position: fixed;
    padding:20px 20px;
    
   
}
.nav-bar .nav-item1{
    font-size: 20px;
    padding: 20px 10px;
}
.nav-bar .nav-item2{
    display: flex;
    justify-content: space-around;
    
    

}
.nav-item2 .nav-name a{
    text-decoration: none;
    color:white;
    font-size: 15px;
    padding:20px 10px;
    margin-right: 20px;

}
.nav-item3{
    display: flex;
    justify-content: space-between;
    gap:10px;
    align-items: center;
}
.nav-item3 .social-media img{
    width: 40px;
    height: 40px;
    

}

  /* main section */
.main{
    padding: 10px 10px;
    background-color: black;
    width: 99%;
   
}

.main-content {
    width: 90%;
    height: 154vh;
    margin-top: 90px;
    /* position: relative;
    left: 30px; */
    /* background-attachment: fixed; */
    background-image: url(https://images.unsplash.com/photo-1513104890138-7c749659a591?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D&w=1000&q=80);

    background-size: cover;
    background-repeat: no-repeat;
    opacity: 3.5;
    opacity: 5.7px;
}
.main-content .pizza-specify{
   
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}
 .pizza-specify .title{
    margin-top: 40px;
    width: 35%;
    font-size: 2.5rem;
    word-break: break-word;
   
    
    
    color: white;
    border-bottom: 3px solid #F24C4C;
    
}
.main-content .pizza-specify .details{

    margin-top: 20px;
    width: 58%;
    font-size: 0.9rem;
    color:white;
    word-break: break-word;
    
    color: white;

} */

 /* about section */
.about_usheading{
    margin-top: 26px;
    
}
.about_usheading h1{
    font-size: 30px;
    color: white;
    width: 18%;
    border-bottom: 2px solid #F24C4C;
    
   
    
    
    margin-bottom: 30px;
    margin-left: 497px;

}
.about-us{
    display: flex;
    align-items: start;
    
    
    color: white;
   

}

.about-item #para{
    width: 60%;
    word-break: break-word;
    line-height: 1.5rem;
    font-size: 0.9rem;
}

.about-item img{
    width: 99%;
    
    /* width: 400px;
    height: 200px; */
    /* margin-right: 125px; */

}

/* menu section */
.menu-heading{
    /* position: relative;
    top:10px;
    left:216px;
     */
}
.menu-heading h1{
    color: white;
    /* width:10%; */
    text-align: center;
    padding:9px 119px;
    text-decoration:  #F24C4C underline;
    
    margin-bottom: 30px;
   
  

}
.menu{
    display: grid;
    grid-template-columns: repeat(2,38%);
    column-gap: 149px;
    row-gap: 10px;
   
    
}
.container {
    display: flex;
    
    gap:4px;
    color: white;
}
.container .item img{
    width: 93%;
   
}

 .item-text p{
    width: 149%;
    line-height: 1.2rem;
    font-size: 0.9rem;
    word-break: break-word

}
 .item-text h5{
    
    color:orange;
}

/* section4 */
.findus-heading{
  
    margin-top: 20px;

}
.findus-heading h1{
    text-align: center;
    color: white;
    /* width:10%; */
    padding:9px 119px;
    text-decoration: #F24C4C underline;
   
   
}
.find{
    display: flex;
    gap: 0.5rem;
    color: white;
    
}
.find-location1{
    display: flex;
    flex-direction: column;
}
.find .find-location1 p {
    width: 72%;
    font-size: 0.9rem;
    margin: 25px;
    line-height: 1.5rem;
}



.find-location1 .location{
    display: inline-block;
}



.find .find-location2 iframe{
    width: 120%;
    height: 90vh;
}
  

.location-2{
    display: flex;
}
.location-1{
    display: flex;
}
.location1-text{
    margin-top: 16px;
    font-size: 1.0rem;
}

.location-2-text{
    margin-top: 16px;
    font-size: 1.0rem;
}

.footer{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    width: 99%;
    border-top: 60px solid black;
}
.footer-item .item img{
    width: 30px;
}
.footer-item img{
    width: 50px;
}






@media screen and (min-width:576px) and (max-width:768px){
    .nav-bar{
        gap:10px;
    }
    .main{
        width:225%;
    }
    .main-content .pizza-specify #title{
      position: relative;
      top:-400px;
      
    }
    .find .find-location2 img{
      width:300px;
    }
    .footer{
        width: 228%;
    }
}
