/* .div{
    border:2px solid black;
    height: 100px;
    width: 100px;
    background-color: red;
}
#div1{
    border:2px solid black;  
    height: 100px;
    width: 100px;
    background-color: blue;

} */
