.parent{
    position: relative;
    height: 200vh;
    background-color: brown;
    color: white;
    padding: 30px;
}
.child{
   padding: 30px 20px;
}
/* here first element is for the hight and second size for the width 
for the four directions up,down,left,right we have take 1 to 4 5 is for a*/
.child-one{
    position: static;
    /* top:300px; */
    bottom:0px;
    /* top: 2000px; */
    background-color: aqua;
    border: 2px solid greenyellow;
}
 /* in here for the for top,left,right,or bottom if we positive go to its opposite side 
 else if we give it as negative valus go to its position whatever side on same direction */

.child-two{
    position: relative;
    left:-40px;
    background-color:red;
    border: 2px solid greenyellow;
    
}

.child-three{
    position: relative;
    right:-300px;
    background-color: yellow;
    border: 2px solid greenyellow;
}

.child-four{
    position: relative;
    bottom:-300px;
    background-color:green;
    border: 2px solid greenyellow;
}
.child-five{
    position: absolute;
    top:0px;
    right:-30px;
    background-color:goldenrod;
    border: 2px solid greenyellow;
}
.child-six{
    position: fixed;
    bottom:30px;
    right:0px;
    border: 2px solid greenyellow;

    
    
    background-color: blueviolet;
   
}
.child-seven{
    position: sticky;
   
    top:0px;
    left:0px;
    border: 2px solid greenyellow;
    border-color: yellow;
    background-color:coral;

}
.child-a:hover{
 
 background-color: cadetblue;
}
.child-a{
    text-decoration: none;
}