.para-1::first-line{
    color: aquamarine;
}
.para-1::first-letter{
 color:red;
}
.para-1::after{
    content: "hey there this is inside the pseudo element";
}
.para-1::before{
    content:url(../utils/images.jfif)
}
